:root {
  --bg-color: #323437;
  --bg-alt-color: #2c2e31;
  --main-color: #646669;
  --sub-color: #e2b714;
  --sub-alt-color: rgba(226, 181, 20, 0.8);
  --logo-color: #d1d0c5;
  --error-color: #ca4754;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-weight: 400;
  color: var(--main-color);
  background-color: var(--bg-color);

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    border-radius: 180px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 180px;
  }
}

#app {
  min-height: 100vh;
  grid-template-rows: [top-start] auto [content-start] 1fr [content-end] auto [top-end];
  overflow: hidden;
  row-gap: 3.2rem;
  padding: 3.2rem 0;
}

/* TODO
  1) Change --padding-inline to 2rem, after seting up @media queries
*/

.content-grid {
  --padding-inline: 8rem;
  --content-max-width: 160rem;
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(0, var(--padding-inline))
    [full-width-padding-start] minmax(0, 1fr)
    [content-start] min(
      100% - var(--padding-inline) * 2,
      var(--content-max-width)
    )
    [content-end] minmax(0, 1fr)
    [full-width-padding-end] minmax(0, var(--padding-inline))
    [full-width-end];
}

.content-grid > :not(.breakout, .full-width, .full-width-padding) {
  grid-column: content;
}

.content-grid > .full-width {
  grid-column: full-width;
}

.content-grid > .full-width-padding {
  grid-column: full-width-padding;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

/* Buttons */

.btn {
  all: unset;
}

.btn:hover * {
  cursor: pointer;
  color: var(--text-color);
  opacity: 1;
  transition: 0.3s;
}

.btn:active * {
  color: var(--main-color);
  transition: 0.3s;
}

.btn-text {
  display: flex;
  align-items: center;
}

/* Icons */

.icon {
  height: 2rem;
  width: 2rem;
}

/* Btn tooltip */

.btn-tooltip {
  position: relative;
  display: inline-block;
}

.btn-tooltip .tooltip {
  visibility: hidden;
  min-width: max-content;
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;

  top: 200%;
  left: 50%;
  transform: translateX(-50%);

  position: absolute;
  z-index: 1;
}

.btn-tooltip .tooltip::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000000 transparent;
}

.btn-tooltip:hover .tooltip {
  visibility: visible;
}

/* Hidden classes */

.invisible {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.hidden {
  display: none !important;
}

/* Spacer */

.spacer {
  height: auto;
  width: 0.5em;
  border-radius: 1rem;
  background: var(--bg-color);
}
